media/*
plex/*
amule/*
.bash*
.profile*
.ssh*
.vim*
downloads/*
.gitconfig
*.log
.DS_Store
.env
flexget/*.sqlite
flexget/.flexget
transmission/blocklists/
transmission/resume/
transmission/torrents/
transmission/dht.dat
transmission/stats.json
transmission/bandwidth-groups.json
home_assistant/*
!home_assistant/**/*.yaml